[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=google-chrome --app=https://munchkinhalfling.github.io/makerbuild/ide.html
Name=MakerBuild IDE
Comment=An IDE for web programming
Icon=google-chrome
